/*--------------------------リセットCSS--------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------リセットCSS--------------------------*/

/*--------------------------ここから--------------------------*/
body {
	background-color : #0f1a33;
}
.head-container{
  background-color : black;
  height : 50px;
  width : 100%;
  opacity : 0.7;

  position: fixed;
}
.home_photo{
	background-image : url(sora_photo2.jpg), linear-gradient(#c9ffbf, #ffafbd);;
	background-blend-mode : hard-light;
	min-height: 500px;
}
.home_title{
	color : #fff;
	text-align : center;
	position: relative;
	top : 30vh;
	font-family: "yu Gothic Medium", "淑ゴシック Medium", YuGothic, "淑ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	font-size : 5em;
}
.wrapper{
  max-width:1100;
  margin: 0 auto;
  padding: 0 4%;
}
.grid{
  display: grid;
  gap:26px;
  grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
